.navbar {
  min-width: 100vw;
  height: 70px;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  background-color: #785be9;
  transition: all 0.25s linear;
  z-index: 1000;
}

.activeBG {
  background-color: #1f1f1f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar > ul {
  width: 100%;
  max-width: 1400px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2.5em;
  font-size: 1.2em;
}

.nav_links > a {
  color: #ffffff;
}
